# Ignore the logs folder
logs/

# Ignore the models folder
models/

# Ignore HPC Folder
HPC_Results/

# Ignore the .vscode folder
.vscode/

# Ignore python bytecode
*.pyc
__pycache__/
env/__pycache__/FlightEnvironment.cpython-313.pyc
monitoring/__pycache__/runtime_monitor.cpython-313.pyc
